<section>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for tutoriel in tutoriels %}
                <div class="item {%  if loop.index == 1 %} active {%  endif %}">
                    <article class="tutorielTopCarousel">
                        <header>
                            {{ tutoriel.getTitre() }}
                        </header>
                        {{ tutoriel.getAuteur() }}
                    </article>
                    <div class="carousel-caption">
                        plop
                    </div>
                </div>

            {% else %}
                il n'y a pas de tutoriel en ce moment qui soit populaire
            {% endfor %}
                        ...
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>