<section>
    {% for tutoriel in tutoriels %}
        <article><header>{{ tutoriel.getTitre() }}</header>{{ tutoriel.getAuteur() }}</article>
    {% else %}
        il n'y a pas de tutoriel en ce moment qui soit populaire
    {% endfor %}
</section>