.formConnexion{
    width:40%;
    display:inline-block;
    vertical-align: top;
    margin-left: 32%;
    padding-top: 1%;
    padding-bottom:-1%;
    height:17%;
}
.conversations{
    background-color: #dddddd;
    width: 40%;
    min-height: 50%;
    max-height: 50%;
    box-shadow: 1px 1px 12px #aaa ;
}

.conversation{

}


.bulleDest{
    border-radius:50px;
    box-shadow: 8px 8px 8px #aaa;
    background-color: rgb(120,80,23);
    min-height:40px;
    color:white;
    position: relative;
    margin-bottom:2%;
    text-align:center;
    max-width:30%;
}

h4{
    text-align: center;
}

.bulleExp{
    color:white;
    border-radius:50px;
    box-shadow: 8px 8px 8px #aaa;
    background-color: rgb(121,182,23);
    max-width:30%;
    min-height:40px;
    margin-bottom:2%;
    position: relative;
    margin-left:40%;
    text-align:center;
}

.arrow_border{
    width:0;
    height:0;
    line-height:0;
    border-bottom:30px solid transparent;
    border-left:30px solid transparent;
    border-right:30px solid #555555; /* couleur de la bordure de la bulle */
}

.formulaireInscription{
    z-index:2;
    color:white:
}

.bandeauVert{
    width:100%;
    padding-top:2%;
    padding-bottom:2%;
    z-index:1;
}
.arrow_inner_exp{
    width:2%;
    height:2%;
    line-height:0;
    border-bottom:30px solid transparent;
    border-right:30px solid rgb(121,182,23); /* couleur du fond de la bulle */position:absolute;
    bottom:-25px;
    right:50px;
    box-shadow-right: 8px 8px #aaa;
}

.arrow_inner_dest{
    width:2%;
    height:2%;
    line-height:0;
    border-bottom:30px solid transparent;
    border-left:30px solid rgb(120,80,23);
    border-right:30px solid transparent; /* couleur du fond de la bulle */position:absolute;
    bottom:-25px;
    left:50px;
}

.diaporama{
    width:100%;
    min-height:20%;
    background-color: darkgray;
}

form{
    height:50%;
    border:1px red solid;
}

section[class*="formConnexion"] >  a{
    color:rgb(121,182,23);
}

section[class*="formConnexion"] > a:hover{
    color:white;
    text-decoration: none;
}

.valider{
    background-color: rgb(122,183,23);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    margin-top: -1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}