<ul class="nav nav-pills nav-stacked">
    <li><a href="#" >Profil</a></li>
    <li><a href="#" >Messages <span class="badge">42</span></a></li>
    <li><a href="#" >Friends</a></li>
    <li><a href="#" >Billets <span class="badge">42</span></a></li>
    <li><a href="#" >Mes &eacute;coles <span class="badge">42</span></a></li>
    <li><a href="#" >Document perso</a></li>
    <li><a href="#" >Annonces</a></li>
    <li><a href="#" >Groupes</a></li>
    <li><a href="#" >Livres</a></li>
</ul>