<ul class="nav nav-pills nav-stacked">
    <li class="titreMenuVertical">Mon espace personnel</li>
    {% for menu in menuV %}
        <li><a href="{{ path(menu.lien) }}">{{ menu.nom }}</a></li>
    {% else %}
        Pas de données
    {% endfor %}
</ul>