{% for chapitre in chapitres %}
    <article class="accueilChapitre">
       <header>
           <h5>
               <a href="{{ path("open_ecoles_tutorial_visualiser_section",{'id':chapitre.getId }) }}">{{ chapitre.getTitre }}</a>
           </h5>
       </header>
        <section>
            {{ render(controller("OpenEcolesTutorialBundle:Chapitre:affichageChapitreSection",{"id":chapitre.getId}))}}
        </section>
    </article>
{% endfor %}