<section>
    <header>
        <div id="message"></div>
    </header>
    <article id="moyenne">
        Moyenne: {{ moyenne }}
    </article>
    <article id="staring">
        <header>
            Noter :
        </header>
        <input type="radio" name="star" class="star {split:2}" value="0.5"/>
        <input type="radio" name="star" class="star {split:2}" value="1"/>
        <input type="radio" name="star" class="star {split:2}" value="1.5"/>
        <input type="radio" name="star" class="star {split:2}" value="2"/>
        <input type="radio" name="star" class="star {split:2}" value="2.5" />
        <input type="radio" name="star" class="star {split:2}" value="3"/>
        <input type="radio" name="star" class="star {split:2}" value="3.5"/>
        <input type="radio" name="star" class="star {split:2}" value="4"/>
        <input type="radio" name="star" class="star {split:2}" value="4.5"/>
        <input type="radio" name="star" class="star {split:2}" value="5"/>
        <input type="button" id="voter" class="button_recherche" value="voter!" />
    </article>
</section>